# requirements.txt file for setting up the tools in sidecar component
# Python must be >=3.8

flask==3.0.0
flask_restx==1.2.0
Werkzeug==3.0.1

certifi
jinja2==3.1.2
itsdangerous==2.1.2
pymongo==4.5.0
cryptography==41.0.5
pycryptodome==3.19.0
pycryptodomex==3.19.0
asn1==2.7.0
ibm-cos-sdk==2.13.2
ibm-cos-sdk-core==2.13.2
ibm-cos-sdk-s3transfer==2.13.2
jmespath==1.0.1
python-dateutil==2.8.2
PyYAML==6.0.1
dnspython==2.4.2
grpcio==1.59.0
grpcio-tools==1.59.0
protobuf==4.24.4
argon2
gunicorn==21.2.0

requests

schedule

pytest
pytest-mock
coverage
